<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2><span th:text="${msg}">Showing Your registered status</span></h2>
    <h2><span th:text="${userName}">Showing Your registered name</span></h2>

    <p>Redirecting to homepage in:<span id="countdown">3</span> second</p>

    <script>
        var countdown = 3; // 3 秒
        setInterval(timeCount, 1000);
        function timeCount()
        {
            countdown--; // 每秒減少倒數計時
            document.getElementById("countdown").innerHTML = countdown; // 顯示倒數秒數
            if (countdown<=0) // 倒數計時為 0 時執行跳轉
            {
                transToLogin();
            }
        }
        function transToLogin()
        {
            location.href = "/homepage"; // 轉到 index.html 頁面
        }
    </script>
</body>
</html>