<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>EnglishProject</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" href="/img/隊徽.ico">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="/css/EnglishProject20240110.css" >
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        // 阻止右鍵點擊事件的默認行為
        document.addEventListener('contextmenu', function (event) {
            event.preventDefault();
        });
    </script>
</head>
<body>
  <!-- navbar-expand-xxl -->
    <div th:replace="fragment/nav.html :: nav"></div>

  <!-- 全螢幕按鈕 -->
  <button class="FullScreenB" onclick="toggleFullScreen()">FullScreen</button>
  <!-- 退出全螢幕按鈕 -->
  <button class="ExitFullScreenB" onclick="exitFullScreen()">ExitFullScreen</button>

<!-- 圖片區 -->

<!-- 會進入全螢幕的內容 -->
  <div class="content">
    
    <!-- 背景圖 -->
<img class="theMap"  src="/img/地圖20240108.webp">  <!-- 測試登入與否，接收LoginController的session設定true -->

<!-- 教堂 -->
      <div class="Icontainer image-container1">
        <img src="/img/教堂.webp" alt="教堂" class="zoomable-image">
        <div class="links links1">
          <a target="_blank" href="/job/weddingplanner" role="button"><button class="link">Wedding Planer</button></a>
        </div>
      </div>
<!-- 學校 -->
      <div class="Icontainer image-container2">
        <img src="/img/學校.webp" alt="學校" class="zoomable-image">
        <div class="links links2">
          <a target="_blank" href="/job/teacher" role="button"><button class="link">Teacher</button></a>
            <a target="_blank" href="/job/counselor" role="button"><button class="link">Counselor</button></a>
        </div>
      </div>
<!-- 醫院 -->
      <div class="Icontainer image-container3">
        <img src="/img/醫院.webp" alt="醫院" class="zoomable-image">
        <div class="links links3">
          <a target="_blank" href="/job/doctor" role="button"><button class="link">Doctor</button></a>
              <a target="_blank" href="/job/dentist" role="button"><button class="link">Dentist</button></a>
        </div>
      </div>
<!-- 百貨公司 -->
      <div class="Icontainer image-container4">
        <img src="/img/百貨公司.webp" alt="百貨公司" class="zoomable-image">
        <div class="links links4">
          <a target="_blank" href="/job/fashiondesigner" role="button"><button class="link">Fashion Designer</button></a>
            <a target="_blank" href="/job/youtuber" role="button"><button class="link">Youtuber</button></a>
        </div>
      </div>
<!-- 音樂廳 -->
      <div class="Icontainer image-container5">
        <img src="/img/音樂廳.webp" alt="音樂廳" class="zoomable-image">
        <div class="links links5">
          <a target="_blank" href="/job/actor" role="button"><button class="link">Actor</button></a>
        </div>
      </div>
<!-- 餐廳 -->
      <div class="Icontainer image-container6">
        <img src="/img/餐廳.webp"  alt="餐廳" class="zoomable-image">
        <div class="links links6">
          <a target="_blank" href="/job/chef" role="button"><button class="link">Chef</button></a>
        </div>
      </div>
<!-- 警察局 -->
      <div class="Icontainer image-container7">
        <img src="/img/警察局.webp" alt="警察局" class="zoomable-image">
        <div class="links links7">
          <a target="_blank" href="/job/policeofficer" role="button"><button class="link">Police Officer</button></a>
        </div>
      </div>
<!-- 機場 -->
      <div class="Icontainer image-container8">
        <img src="/img/機場.webp" alt="機場" class="zoomable-image">
        <div class="links links8">
          <a target="_blank" href="/job/tourguide" role="button"><button class="link">Tour Guide</button></a>
        </div>
      </div>
<!-- 電視台 -->
      <div class="Icontainer image-container9">
        <img src="/img/電視台.webp" alt="電視台" class="zoomable-image">
        <div class="links links9">
          <a target="_blank" href="/job/reporter" role="button"><button class="link">Reporter</button></a>
        </div>
      </div>
</div>

  <script>
      function toggleFullScreen() {
          if (!document.fullscreenElement) {
              document.documentElement.requestFullscreen();
          }
      }

      function exitFullScreen() {
          if (document.exitFullscreen) {
              document.exitFullscreen();
          }
      }

      // 添加事件監聽器以檢測全螢幕變化
      document.addEventListener("fullscreenchange", function () {
          updateButtonVisibility();
      });

      function updateButtonVisibility() {
          const fullScreenButton = document.querySelector('.FullScreenB');
          const exitFullScreenButton = document.querySelector('.ExitFullScreenB');

          if (document.fullscreenElement) {
              fullScreenButton.style.display = 'none';
              exitFullScreenButton.style.display = 'inline-block';
          } else {
              fullScreenButton.style.display = 'inline-block';
              exitFullScreenButton.style.display = 'none';
          }
      }
      const app = Vue.createApp({
          data() {
              return {
                  dropdownId: 'myDropdown',
                  jobs: [
                      { id: 1, title: 'Police Officer', slug: 'police' },
                      { id: 2, title: 'News Reporter', slug: 'news-reporter' },
                      { id: 3, title: 'Actor or Actress', slug: 'ActorOrActress' },
                      { id: 4, title: 'Teacher', slug: 'Teacher' },
                      { id: 5, title: 'Counselor', slug: 'Counselor' },
                      { id: 6, title: 'Tour Guide', slug: 'TourGuide' },
                      { id: 7, title: 'Wedding Planner', slug: 'WeddingPlanner' },
                      { id: 8, title: 'Youtuber', slug: 'Youtuber' },
                      { id: 9, title: 'Fashion Designer', slug: 'FashionDesigner' },
                      { id: 10, title: 'Dentist', slug: 'Dentist' },
                      { id: 11, title: 'Chef', slug: 'Chef' },
                      { id: 12, title: 'Doctor', slug: 'Doctor' },
                  ],
              };
          },
          methods: {
              toggleDropdown() {
                  // 切換下拉選單的顯示狀態
                  $(`#${this.dropdownId}`).toggleClass('show');
              },
              adjustDropdownHeight() {
                  // 調整下拉選單的最大高度
                  this.$refs.dropdownMenu.style.maxHeight = this.$refs.dropdownMenu.scrollHeight + 'px';
              },
          },
      });
      app.mount('#app');
  </script>
</body>

</html>